/*  your css code here. If applicable */
.container{
	color:white;
	background-color:#D3D3D3;
	padding:10px;
	list-style:none;
}
.container li{
	display:inline;
	margin-right:1rem;
}
.container ul{
	display:flex;
}